@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

.container {
  font-family: "Roboto", sans-serif;
  color: white;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

#backgroundImage {
  z-index: -10;
  position: absolute;
  max-width: 100%;
}

.current-weather {
  grid-column: 2 / 3;
  text-align: center;
}

.current-weather > .current-temp {
  font-size: 4rem;
}

.current-weather > .city {
  font-size: 4.5rem;
}
